.Sidebar{
    grid-column: 1;
    grid-row: 1/6;
    border-right: solid black 3px;
    background: #FFF;
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.Sidebar_top{
    grid-row: 1;
    border-bottom: 3px solid black;
}
.Sidebar_bottom{
    grid-row: 2;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 100%;
    overflow: auto;
}
#menuItemList{
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-content: start;
    overflow: auto;
}