.Search{
    background: rgb(248, 165, 110);
    grid-column: 2/6;
    grid-row: 1;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#topText{
    grid-column: 1/3;
    font-size: 1.5em;
}
#keyWords{
    grid-column: 2/4;
    grid-row: 2;
}
#submit{
    grid-column: 4;
    grid-row: 2;
}
#submit:hover{
    border-top: solid rgb(248, 165, 110) 5px;
    border-left: solid rgb(248, 165, 110) 5px;
}
#select{
    grid-column: 6;
    grid-row: 2;
}